.tracks-container {
  display: grid;
  grid-gap: 1% 1%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 4%;
}

body {
  background-color: $light-blue;
  font-family: $font;
  padding: 0px;
  text-align: center;
}

.loading-container {
  align-items: center;
  display: flex;
  font-size: 44px;
  height: 90vh;
  justify-content: center;
}

.track {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  opacity: 0;
  position: absolute;
  z-index: 2;
}

.track:hover {
  .description {
    background-color: #b48291;
    color: black;
    max-width: 200px;
    opacity: 1;
  }
}

img {
  width: 100%;
  border-radius: 20px;
}
