@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');

//Fonts
$font: "Quicksand", sans-serif;
$title-font: 'Signika', sans-serif;

//Colors
$light-blue: #cee0dc;
$pink: #b48291;