.tracks-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 8px 8px;
  margin: 8px;
}

.track {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  position: absolute;
  z-index: 2;
}

img {
  width: 100%;
  border-radius: 20px;

}