@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


.tracks-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  // grid-template-rows: 300px;
  grid-gap: 4px 8px;
  margin: 4px;
}

.track {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  position: absolute;
  z-index: 2;
}

img {
  width: 100%;
}